/*styles/main.css*/

body { background: rgb(176, 224, 230);
color: black; font-family: 'Open Sans Condensed', sans-serif;}

h1{color: white;}
ol {font-weight: bold;}
a{ text-decoration: none; }
#border { border-style: solid;
border-radius: 15px}
#goal {
background: rgb(176, 224, 230);
 }
 #my_name{ 
 text-align: center; }
 .list {
 	background-color: rgb(176, 224, 230);
 }
